<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <title>领奖台公众平台后台管理系统</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <link rel="stylesheet" href="<%= htmlWebpackPlugin.files.css[0] %>">
    <link href="static/ueditor/themes/default/_css/umeditor.css" type="text/css" rel="stylesheet">
</head>
<body>
    <div id="app"></div>
    <script type="text/javascript" src="<%= htmlWebpackPlugin.files.js[0] %>"></script>
    <script type="text/javascript" src="<%= htmlWebpackPlugin.files.js[1] %>"></script>
    <script type="text/javascript" src="static/js/jquery-2.1.4.min.js"></script>
    <script type="text/javascript" charset="utf-8" src="static/ueditor/umeditor.config.js"></script>
    <script type="text/javascript" charset="utf-8" src="static/ueditor/editor_api.js"></script>
    <script type="text/javascript" src="static/ueditor/lang/zh-cn/zh-cn.js"></script>
</body>
</html>